<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rest API</title>
</head>
<body>
    <h1> Currently working on a project using flask web framework of python building an API with
        certain endpoints , for more information you can check the link below to see the instructions: </h1>

    <a href="https://github.com/green-fox-academy/teaching-materials/blob/
    automation-ibs/workshop/backend-api/python.md">https://github.com/green-fox-academy/teaching-materials/blob/
        automation-ibs/workshop/backend-api/python.md</a>

</body>
</html>