table {
        border-collapse: collapse;
        width: 50%;
      }
      th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
      tr {
        background-color: #aea5c1;
      }

      tr:last-child {
        background-color: rgb(98, 98, 107);
      }
    
input[type="button"] {
        width: 50%;
        text-align: center;
    }
    
    input[type="button"]:focus {
        outline: none;
    }
    
    