body {
    background-color: #2a415d;
}

h2 , p{
    text-align:center;
    color: rgb(192, 191, 212);
}

form {
    display: grid;
    width: 400px; /* set a fixed width */
    margin: 0 auto; /* center the form horizontally */
    text-align: center;
    gap: 10px;
  }

  label {
    color:rgb(192, 191, 212);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  input[type=text] {
    background-color: #0d0a1f00;
    color: rgb(192, 191, 212);
    text-align: center;
    padding: 20px;
  }

  input[type='Science'] {
    grid-column: 5;
  }

  input[type='submit'] {
    padding: 10px;
    background-color: #6381a6;
    color:yellow;
    font-weight:bolder;
    border: none;
  }